body {
  background-color: white;
 /* font-family: Arial, sans-serif; */
  text-align: center;
}
.site-header {
  background-color: #2b2b2b;
  height: 50px;
}

.h1-txt {
  font-family: inter, sans-serif;
  font-weight: bold;
  margin-top: 50px;
  font-size: 100px;
}
.main-image-container{
  display: flex;
  justify-content: center;
  gap: 20px;   /* Avstånd mellan bilderna */
  margin-top: 40px;
}
.image-block {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 20px;
  cursor: pointer;
}
.image-block p {
  font-size: 18px;
  font-family: roboto thin, sans-serif;
}

.image-wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  z-index: 0; /* bilden under texten */
}

/* Texten ovanpå bilden */
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  z-index: 1; /* ovanpå bilden */
}

/* Hover: fadea bort bilden, fadea in texten */
.image-block:not(.active):hover .image-wrapper {
  opacity: 0;
}

.image-block:not(.active):hover .image-text {
  opacity: 1;
}

/* Active state: låser texten synlig */
.image-block.active .image-wrapper {
  opacity: 0;
}

.image-block.active .image-text {
  opacity: 1;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 5px;   /* ← Avståndet mellan search bar och knapp*/
}
.search-bar{
  width: 500px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  outline: none;               /* ingen ram vid klick */
  transition: 0.2s ease-in-out;
  background-color: #fdfdfd;   /* lätt vit bakgrund */
  cursor: text;                /* visar att man kan skriva */

}

.search-bar:hover {
  background-color: #f2f2f2;  /* blir lite ljusare vid hover */
  border-color: #dcdcdc;      /* behåller samma border som standard */
}
.search-bar:focus {
  border-color: #ffffff;
}
.search-bar.icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
  background-size: 18px;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 50px; /* space för ikon */
}

.search-button {
  border-radius: 10px;
  border: none;
  width: 70px;
  background-color: #f2f2f2;
  transition: 0.2s ease;
}
.search-button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}




